html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: red;
}

.navbar {
    background-color: red;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: red;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    padding: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.image {
    width: 100%;
    height: auto;
    border: 2px solid yellow;
}